@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #333533
}

.home-image{
  background-image: url("https://gaming-cdn.com/images/products/8421/screenshot/prehistoric-kingdom-pc-game-steam-wallpaper-4.jpg?v=1706028862");
}

.nav-home {
    width: 100%;
    display: flex;
    padding: 1px;
    background-color: rgb(0, 0, 0,0.5);

    .nav-imgHome {
        width: 25%;
        color: white;
    }

    .left-nav{
        width: 20%;
    }

    .mid-nav{
        width: 60%;
        display: flex;

        .content{
            margin: auto;
            display: flex;
            width: fit-content;
            gap: 20px;

            .nav-linkHome{
                text-decoration: none;
                text-align: center;
                color: rgb(255, 255, 255);

                h1{
                    font-size: 20px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 200;
                    font-style: normal;
                }
            }
        }
    }
    } 


.image-content{
  width: 40%;
  height: 750px;
  margin: auto;
  margin-top: 40px;

  .animalsP{
    padding: 20px;
    background-color: rgb(32, 32, 32,0.8);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    border-radius: 35px;
  }

    

  img{
    width: 65vh;
    display: block;
    margin: auto;
  }

  h2{
      color: #ffd100;
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-style: normal;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;

  }
}


.infoHome {
  display: flex;
  background-image: url("../assets/imgs/fossilbg.png");
  

  .left,
  .right {  
    width: 50%;
  }

  .text {
    margin-top: 10%;
    width: 95%;
    font-size: 25px;

    .h3Home {
      margin-top: 10px;
      margin-bottom: 20px;
      color: #ffd100;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-size: 30px;
    }

    .pHome{
      color: white;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-size: 20px;
    }
  }

  .text2 {
    margin: auto;
    width: 80%;
    font-size: 25px;

    .h3Home {
      margin-top: 10px;
      margin-bottom: 20px;
      color: #ffd100;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-size: 30px;
    }

    .pHome{
      color: white;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-size: 20px;
    }
  }

  .info-img {
    margin: auto;
    width: 100%;

    img {
      margin: auto;
      width: 100%;
    }
  }
}

.BG2{
  background-image: none;
  background-color: #202020;
}

.BGhadro{
  background-image: url(" https://crytivo.com/img/gamepages/pk/fea/4.png");
}

.BGsaurop{
  background-image: url("https://pbs.twimg.com/media/Fe90lKBXkAIV5BT.jpg:large");
}

.BGceratop{
  background-image: url("https://pbs.twimg.com/media/GTQJrQOaYAAvZkS.jpg:large");
}

.BGcarcha{
  background-image: url("https://scontent.fmii2-2.fna.fbcdn.net/v/t39.30808-6/488912022_1216486033812605_9008136407465034889_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_ohc=hh_HA9NcZCIQ7kNvwGcOlc3&_nc_oc=AdnTeJD8urEtiO0ozpyRnUBGu8vVojE-bqf3eyrTthvpRQ6BvO2H9GoGBPEBaowGLxU&_nc_zt=23&_nc_ht=scontent.fmii2-2.fna&_nc_gid=SgTqID4jwdC5Zf5eAmMEsg&oh=00_AfK650Jwqy_rqJ_bYalDkjITO9xZXs81QFO_nrjAtC9WVg&oe=68355360");
}

.BGspino{
  background-image: url("https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/666150/ss_c83bf9b436da4cec6e4e312be8496894afa8edba.1920x1080.jpg?t=1745580648")
}

.BGdroma{
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f5169d31c810e0faa346016/8508ef1c-2de3-4cff-b065-ee2f6a00887f/Velo+2.png")
}

.BGmami{
  background-image: url("https://pbs.twimg.com/media/FLrMBt_VQAAjOBQ.jpg:large");
}




@media screen and (max-width: 1700px) and (min-width: 1150px) {
  .info {
    .left,
    .right {
      .text,
      .text2 {
        width: 100%;
      }

      img {
        width: 110%;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .info {
    display: block;

    .left,
    .right {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1390px) {
  nav {
    display: block;

    .nav-img {
      width: 10%;
    }
  }
}
