body{
    margin: 0%;
}

nav{
    display: flex;
    height: 100px;
    padding: 20px;
    background-color: rgb(226, 226, 226);
    

    .nav-img{
        width: 9%;
        margin-right: 30px; 
    }

    .nav-link{
        margin: auto;
        text-decoration: none;
        color: black;
    }
}

.info{
    display: flex;
    margin-top: 100px;

    
    .left, .right{
        width: 50%;
    }

    .text{
        padding: auto;
        margin: auto;
        width: 80%;
        font-size: 25px;
    }

    .text2{
        margin: auto;
        text-align: right;
        width: 80%;
        font-size: 25px;
    }

    .info-img{
        margin: auto;
        width: 50%;

        img{
            width: 110%;
            border-radius: 10px;
        }
    }

}